
div.h-card {
  line-height: 1.2em;
  display: inline-block;
  border-radius: .2em;
  border: .1em solid #5B8CAD;
  box-shadow: .05em .05em .05em .05em #5B8CAD;
  float: left;
  font-size: .95em;
  margin: .5em;
  height: 9.5em;
  padding: .6em 0 .5em .5em;
  width: 30%;
}
div.p-locality,
div.p-region {
  float: left;
}
div.p-locality:after {
  content: ',\00a0';
}
div.p-region:after {
  content: '\00a0';
}
div.p-tel:after {
  content: 'Tel';
  vertical-align: bottom;
  margin-left: .5em;
  width: 2em;
  font-weight: bold;
  font-size: .5em;
  text-transform: uppercase;
}
div.p-tel-fax:after {
  content: 'Fax';
  vertical-align: middle;
  margin-left: .5em;
  width: 2em;
  font-weight: bold;
  font-size: .5em;
  text-transform: uppercase;
}
/*span.p-role:before {
  content: '\0008, ';
}*/
span.p-role {
  font-style: italic;
  font-size: .75em;
  vertical-align: text-top;
}
.p-name {
  font-weight: 600;
}
.p-job-title {
  font-weight: bold;
  font-size: 1.1em;
}
a.u-url {
  text-decoration: none;
}
sup.p-note {
  font-size: .7em !important;
  font-weight: bold !important;
}
div.section h4 {
  padding-top: 1em !important;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  clear: both;
}
div.section {
  width: 700px;
  display:block;
} 